/* 
Sentinel Comics Issue #404: Lock Down
Crafting Aid
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: url(https://images.squarespace-cdn.com/content/v1/578fb42e59cc681e6e244789/1557760191040-6H696FZQTPRLJBCYSJ9W/wallpaper-complete-nologo.jpg?format=2500w); */
  /* Online Image (above) vs Locally Saved Image (below)*/
  background: url(./Sentinels-Wallpaper.jpg);
  overflow: hidden;
  background-size: cover;
  font-family: "Lato", sans-serif;
}

.addItem-btn {
  border: none;
  padding: 0.4rem;
  font-size: 1rem;
  min-width: 60px;
  background: #2e66b9;
  color: white;
  /*   border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; */
  border-radius: 0 5px 5px 0;
}

.autocompleteList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.autocompleteList li {
  color: black;
  padding: 15px;
  width: calc(100%-30px);
  font-weight: bold;
  cursor: pointer;
}

.card {
  /* We are trying to mimic a 3" by 5" index card*/
  background-image: url(https://i.pinimg.com/originals/b5/e8/58/b5e858e124eadcf7a9010d67137501bf.png);
  background-size: cover;
  background-color: black;
  padding: 1rem;
  width: 1000px;
  height: 600px;
  box-shadow: 0px 10px 40px -10px;
  border-radius: 5px;
  font-weight: bold;
}

.card-body {
  margin-top: 3rem;
  justify-content: space-around;
  text-align: center;
}

.card-body-header {
  display: flex;
  justify-content: space-around;
}

.card-body-header h2 {
  color: red;
  font-size: 1.4rem;
  margin-top: 0.3rem;
}

.card-body-header h3 {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 400;
  background: red;
  color: white;
}

.card-bulk {
  display: inline-block;
  margin: auto;
  font-size: 2rem;
  align-items: center;
  justify-content: space-around;
}

.card-footer {
  display: block;
  margin-top: 3rem;
  font-size: 2.5rem;
  text-align: center;
  justify-content: space-around;
}

.card-header {
  display: flex;
  height: 60px;
  align-items: top;
  justify-content: space-between;
}

.cardType {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crafting-table {
  background-color: white;
  padding: 1rem;
  min-width: 100px;
  min-height: 60px;
  box-shadow: 0px 10px 40px -10px;
  border-radius: 5px;
  font-weight: bold;
}

.craftingNumber {
  display: inline;
  font-size: 2.5rem;
  color: black;
}

#itemName {
  font-size: 3rem;
  color: black;
  text-decoration: underline;
}

#itemDescription {
  font-size: 2.5rem;
  margin-top: 1rem;
  color: black;
}

.itemUses {
  display: inline;
  font-size: 2rem;
  margin-top: 2rem;
  color: black;
  align-items: center;
}

.nameLARP {
  font-size: 2rem;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.search-form {
  margin-bottom: 1rem;
  display: flex;
}

.search-input {
  padding: 0.5rem;
  min-width: 240px;
  border: 2px solid #2e66b9;
}

span {
  font-size: 0.7rem;
}

table, th, td{
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;  
}

table{
  width: 100%;
}

th, td{
  padding: 5px 10px;
}

tr:nth-child(even){
  background-color: skyblue;
}

.tabletop {
  text-align: center;
}

.tag {
  display: inline;
}

#tags {
  display: block;
  margin: auto;
  font-size: 2rem;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  color: black;
}

/* This is for the Table Item List */
ul {
  text-align: center;
}
